@import "~antd/dist/antd.css";

.App {
  text-align: center;
  background-size: cover;
  height: 100vh;
}

.App.fall {
  background-image: url(assets/fall.jpg);
}

.App.winter {
  background-image: url(assets/winter.jpg);
}

.App.spring {
  background-image: url(assets/spring.jpg);
}

.ant-btn.ant-btn-primary {
  background-color: #52c41a;
  border-color: #52c41a;
}

.ant-btn.ant-btn.ant-btn-primary:hover {
  background-color: #73d13d;
  border-color: #73d13d;
}

.ant-btn:hover:not(.ant-btn-primary) {
  border-color: #73d13d;
  color: #73d13d;
}
