@import "~antd/dist/antd.css";

.App {
  text-align: center;
  background-size: cover;
  height: 100vh;
}

.App.fall {
  background-image: url(assets/fall.jpg);
}

.App.winter {
  background-image: url(assets/winter.jpg);
}

.App.spring {
  background-image: url(assets/spring.jpg);
}
