.home-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.home-page .title {
  color: white;
  font-size: 100px;
  margin-bottom: 50px;
}

.home-page .search .term .ant-select-selection {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.search .course-code .ant-input {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
