.home-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.home-page .title {
  color: white;
  font-size: 100px;
  margin-bottom: 50px;
}

.home-page .search .term .ant-select-selection {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.search .course-code .ant-input {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top-bar {
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding-left: 2em;
  padding-right: 2em;
}

.top-bar #help-icon {
  stroke-width: 2;
  margin-left: 28px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.top-bar #help-icon:hover {
  color: #52c41a;
  cursor: pointer;
}

.top-bar #stop-watching-button {
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .home-page .title {
    font-size: 70px;
  }

  .ant-modal-content {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 40%;
    left: 50%;
    width: 80vw;
  }

  .ant-btn-round {
    font-size: 15px;
  }
}