.results-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.results-page .top-bar {
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding-left: 2em;
  padding-right: 2em;
}

.results-page .top-bar .tree-icon {
  height: 28px;
  opacity: 0.65;
  margin-right: 20px;
}

.results-page .top-bar .tree-icon:hover {
  opacity: 1;
}

.results-page .top-bar .search {
  margin-right: auto;
}

.results-page .top-bar #help-icon {
  stroke-width: 2;
}

.results-page .top-bar #help-icon:hover {
  stroke-width: 2.5;
  cursor: pointer;
}
