#results-container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 24px;
  max-width: 80vw;
  border-radius: 4px;
}

#results-container #results-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#results-container #results-title #course-code {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#results-container #results-title #course-title {
  font-size: 20px;
  margin-bottom: 2%;
}

#results-container table {
  width: 100%;
}

#results-container thead {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-bottom: 3%;
  text-align: left;
  font-size: 18px;
  height: 20px;
  line-height: 2;
}

#results-container tr {
  height: 20px;
  text-align: left;
  font-size: 16px;
}

#results-container th,td {
  padding: 2px 15px;
}

.reserveCell {
  text-align: left;
  padding-left: 30px !important;
}

#results-container .checkbox-container {
  text-align: center;
  width: 8vw;
}

.ant-checkbox {
  transform: scale(1.2);
}

.ant-checkbox:hover {
  border-color: #52c41a;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
}

#watchButton {
  margin-top: 5%;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 40px !important;
}

.error-message {
  color: red;
  padding: 5%;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  #results-container {
    max-width: 95vw;
    padding: 10px;
  }

  #results-container #results-title #course-code {
    font-size: 25px;
  }

  #results-container #results-title #course-title {
    font-size: 15px;
  }

  #results-container .tr {
    font-size: 12px;
  }

  #results-container th, td {
    padding: 2px 4px;
  }

  .ant-btn-round.ant-btn-lg {
    padding: 4px 15px;
    font-size: 15px;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  #results-container #results-title #course-code {
    font-size: 20px;
  }

  #results-container #results-title #course-title {
    font-size: 12px;
  }

  #results-container .tr {
    font-size: 12px;
  }

  .ant-checkbox {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}